/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font_size: 1.3rem;
  --accent: #596d48;
  font-family: "Arial Narrow", Arial, sans-serif;
}

@font-face {
  font-family: Norse-Bold;
  src: url("./assets/fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(243, 243, 243);
}

a {
  color: white;
}

p {
  margin: 10px;
}

label {
  display: block;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

form {
  background-color: aliceblue;
  font-size: var(--font_size);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: white;
}

input:focus {
  outline: none !important;
  border: 1px solid blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 2px 3px;
}

input {
  width: 200px;
  border: 2px solid #edeef0;
  border-radius: 2px;
}

a.login {
  color: var(--accent);
  text-decoration: none;
}

:visited {
  color: yellow;
}

.left {
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.8rem;
  background-image: url("./assets/images/halie-west-25xggax4bSA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex: 1;
}

.left,
.right {
  height: 100vh;
  display: flex;
  align-items: center;
}

.right {
  flex: 3;
}

.container > * {
  padding-left: 40px;
}

.logo-container {
  font-family: Norse-Bold, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
  width: 100%;
}

#logo {
  max-height: 5rem;
}

.description {
  width: 80%;
  font-size: var(--font_size);
  font-weight: 600;
}

.input {
  padding: 10px;
  flex: 1;
}

.input-container {
  display: flex;
  flex-flow: wrap;
  width: 60%;
  justify-content: space-between;
}

.error {
  border: 1px solid red;
  padding: 2px 3px;
}

.btn-submit {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--accent);
  color: white;
  font-size: 1.1rem;
  font-weight: 800;
}

.btn-submit:focus {
  border: 1px solid black;
}
